* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(243, 238, 218);
    
}
.login-form {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-cont {
    height: 100%;
    width: 100%;
}
form {
   height: 15rem;
   width: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* align-items: center; */
   border: 1px solid grey;
   gap: 2rem;
   padding: 1rem;
   font-size: 1.2rem;
}
form input {
    padding: 5px;
}
.btn {
    padding: 10px;
    background-color: rgb(129, 129, 250);
    color: white;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.header {
    height: 3rem;
    width: 100%;
    background-color: rgb(50, 156, 163);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 200;
    color: white;
}
.logo {
    transform: translateX(3rem);
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo img {
    height: 3rem;
    width: 3rem;
}
.left-right-arrow {
    font-size: 5rem;
    cursor: pointer;
}
.elems {
    transform: translateX(-3rem);
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
}
.elems > * {
    cursor: pointer;
}
.elems > *:hover {
    color: brown;
}

/* img slider */
.img-slide-cont {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1rem;
   gap: 2rem;
   transform: translateY(3rem);
}

.img-slide {
    height: 20rem;
    width: 20rem;
    overflow: hidden;
    position: relative;
}
.sliding-img {
    height: 20rem;
    width: 25rem;
    position: absolute;
}
.addmission-cont {
    overflow: hidden;
    /* transform: translateX(20rem);
    padding: 0;
    margin: 1.5rem; */
}
.addmission {
    margin: 4rem;
}

.student-info {
    margin-left: 5rem;
}
.all-btns {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.list-heading {
    width: 25rem;
    background-color: rgb(248, 238, 194);
    display: flex;
    justify-content: space-evenly;
    font-size: 1.4rem;
    color: rgb(137, 137, 247);
    padding: 1rem;
}
.student-data {
    width: 25rem;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
}
.class-1, .class-2, .class-3, .class-4 {
    width: 25rem;
    padding: 1rem;
    background-color: rgb(248, 238, 194);
    margin-bottom: 1rem;
}
.class-4 {
    position: absolute;
}
.class-2 {
    position: absolute;
  
}
.class-3 {
    position: absolute;
}
.class-1 {
    position: absolute;
}
.accordions-cont {
    position: relative;
    top: 36rem;
    width: 70%;
    transform: translateX(15%);
    font-size: 1.3rem;
}
.q {
    cursor: pointer;
    font-weight: 600;
}
.ans {
    font-size: 1.1rem;
}
.single-qna {
    margin: 1rem;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(250, 236, 186);
    }
    .elems {
        display: none;
    }
    p {
        font-size: 17px; 
    }
    .list-heading {
        width: 18rem;
        padding: 10px;
    }
    .student-data {
        width: 18rem;
        padding: 10px;

    }
    .class-1, .class-2, .class-3 , .class-4 {
        width: 18rem;
        padding: 10px;
    }
    .ans {
        font-size: medium;
    }
    .addmission {
        margin: 2rem;
        margin-top: 3rem;
    }
    .all-btns {
        gap: 1rem;
    }
}
